body {
    background: url('../img/background.jpg') center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    z-index: -2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 79px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: relative;
}

.header-logo {
    font-weight: 700;
    font-size: 22px;
    transition: color 0.5s linear;
}

.header-logo:hover {
    color: #3CB878;
}

.icons-wrapper {
    display: flex;
    justify-content: end;
}

.icon-link {
    margin: 0 13px;
}

.icons-wrapper svg path {
    transition: fill 0.5s linear;
}

.icons-wrapper svg:hover path {
    fill: #3CB878;
}

.header-login {
    margin-left: 13px;
    padding-left: 26px;
    border-left: 1px solid rgba(255, 255, 255, 0.45);
    display: flex;
    align-items: center;
}

.header-login a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 6px;
    transition: color 0.5s linear;
}

.header-login a:hover {
    color: #3CB878;
}

main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    z-index: 1;
}

.signup-window {
    width: 444px;
    padding: 30px 60px 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.signup-window::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.signup {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px 4px;
}

.title-wrapper, .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 4px;
}

.signup-btn {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-btn img {
    margin-right: 13px;
}

.signup-btn:last-child img {
    margin-right: 7px;
}

.facebook {
    background: #305DB8;
}

.facebook:hover {
    background: #022263;
}

.google {
    background: #DF4A32;
}

.google:hover {
    background: #AB1F09;
}

.facebook, .google {
    transition: background 0.5s linear;
}

.signup-title {
    width: 100%;
    border-left: 1px solid #0A162F10;
    padding: 6px;
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #FFFFFF;
}

.form-title {
    font-size: 20px;
    color: #434343;
}

.login-link {
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
    transition: all 0.5s linear;
}

.login-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.separator {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
    line-height: .1em;
    margin-top: 25px;
}

.separator span {
    padding: 0 5px;
    background: #fff;
}

input {
    padding: 15px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

input::placeholder {
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #BEBEBE;
}

input:not(:last-child):focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.btn-submit {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 5px;
    transition: background 0.5s linear;
}

.btn-submit:hover {
    background: #01813F;
}

.checkbox {
    font-size: 14px;
    color: #434343;
}

.checkbox a {
    text-decoration: none;
    color: #3CB878;
    margin-left: 0.25em;
    transition: all 0.5s linear;
}

.checkbox a:hover {
    color: #01813F;
    text-decoration: underline;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
}

.custom-checkbox:checked+label::before {
    background-image: url('../img/check.svg');
}

